body {
    background-image: url('/img/bg.jpg');
    background-size: 270vh;
    background-position: 48% 50%;
    background-attachment: fixed;  
}

.padding {
    padding-left: 100vh;
}

.icon {
    color:gray;
}

.icon:hover {
    color:white;
}

.svg{
    position: absolute;
    height: 25vh;
    width: 45vh;
    margin-top: -20vh;
    margin-left: -18vh;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 5px 3px 2px rgba(0, 0, 0, .7));
    stroke-width: 1.5%;
}

.nav {
    z-index: 9999;
}

.title {
    margin-top: 5vh;
}

.box {
    overflow-x: scroll;
    max-width: 95vh;
}

.centered {
    text-align: center;
}

.transform:hover {
    transform: scale(1.15);
}

#lineup {
    background-image: url('/img/field.png');
    background-repeat: no-repeat;
    background-size:  110vh 99vh;
    background-position:  1vh  5vh;
    flex: 2 0 0;
    font-weight: bolder;
    height: 110vh;
    width: 110vh;
}

#player {
   color:white;
   padding: 7vh;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.flexItem {
    flex-basis: 60vh;
}

.grid {
    flex-direction: row-reverse;
}

.gridItem {
    width: 23vh;
    height: 24vh;
}

.playerCard {
    position:absolute;
    width: 18vh;
    height: 24vh;
    margin: -6vh  -4vh;
    z-index: 900;
    cursor: pointer;
}

.playerChemistry {
    position: absolute;
    margin: 10vh 1vh;
    z-index: 901;
    font-size: 2vh;
    color:#65c9cf;
}

.playerPosition {
    position: absolute;
    margin:  10.7vh 3.3vh;
    z-index: 901;
    font-size: 2vh;
    color:white;
}

.flexModal {
    margin: 5vh 0vh;
    display: flex;
    height: 30vh;
    flex-flow: row;
    flex-wrap: nowrap;
    justify-content: center;
}

.playerModalItem {
    width: 18vh;
}

.playerModalCard {
    width: 18vh;
    height: 24vh;
    z-index: 900;
    cursor: pointer;
}

.formationItem {
    width: 35vh;
}

.formationCard {
    width: 30vh;
    height: 26vh;
    z-index: 900;
    padding: 2vh;
}

.formationCard:hover{
    cursor: pointer;
}

.infoCard {
    margin-top: 5vh;
    background-color: rgba(12, 12, 12, 0.4) !important;
    width: 60vh;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.infoText {
    padding-top:1vh;
}

.infoText:hover {
    cursor: pointer;
    background-color: rgba(12, 12, 12, 0.479) !important;
}
  
/*--------- RESPONSIVE STYLE ----------*/

@media (max-width: 800px) {

    body {
        background-image: url('/img/bg.jpg');
        background-position: 47% 40%;
        background-size: 300vh 200vh;
    }

    .flex {
       overflow: hidden;
       max-width: 100vw;
    }

    .flexItem {
        flex-basis: 100vw;
    }

    #lineup {
        background-size:  110vw 110vw;
        background-position:  -5vw  5vw;
        height: 120vw;
        width: 100vw;
        overflow: hidden;
    }

    #player {
        padding: 2vw;
    }

    .playerCard {
        width: 21.5vw;
        height: 28vw;
        margin: 0vh  2vw;
    }
    
    .svg{
        height: 25vw;
        width: 30vw;
        margin-top: -11vw;
        margin-left: -3vw;
        stroke-width: 2%;
    }

    .grid {
        margin: 0vw -2.3vw;
    }

    .gridItem {
        width: 23vw;
        height: 29vw;
    }

    .playerChemistry {
        margin: 18vw 6.5vw;
        z-index: 901;
        font-size: 3vw;
    }
    
    .playerPosition {
        margin:  19.5vw 10vw;
        z-index: 901;
        font-size: 3vw;
    }
    
    .flexModal {
        margin: 2vw 90%;
        height: 60vw;
    }
    
    .playerModalItem {
        padding: 0 17vw;
        margin: 2vw 0vw;
    }

    .padding {
        padding-left: 120vw;
    }
    

    .playerModalCard {
        width: 35vw;
        height: 47vw;
    }

    .formationItem {
        width: 40vh;
        padding: 0 0vw;
    }
    
    .formationCard {
        width: 60vw;
        height: 55vw;
        z-index: 900;
        padding: 2vh;
    }

    .formation {
        margin: 2vw 125%;
    }
    
    .infoCard {
        max-width: 90vw;
        margin: 0 auto;
        margin-bottom: 5vw;
        
    }
}


  
/*--------- SCROLLBAR STYLE ----------*/



::-webkit-scrollbar {
    width: 0.5vw;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: #8C8C8C; 
    border-radius: 5px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #666666; 
  }