body {
    background-image: url('/img/bg.jpg');
    background-size:  100vw;
    background-position: 50% 60%;
    background-attachment: fixed;  
}

.nav {
    z-index: 9999;
}

.centered {
    text-align: center;
}

#lineup {
    background-image: url('/img/field.png');
    background-repeat: no-repeat;
    background-size:  100vh 90vh;
    background-position:  5vh  5vh;
    flex: 2 0 0;
    font-weight: bolder;
    height: 90vh;
    width: 110vh;
}

#player {
   color:white;
   padding: 7vh;
}

#bench {
    color:pink;
    font-weight: bolder;
}

.icon {
    color:gray;
}

.icon:hover {
    color:white;
}

.svg{
    position: absolute;
    margin-top: -20vh;
    margin-left: -18vh;
    -webkit-filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .7));
    filter: drop-shadow( 5px 3px 2px rgba(0, 0, 0, .7));
    stroke-width: 1.5%;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
  }

.flex-item {
    width: 50%;
}

.grid {
    flex-direction: row-reverse;
}

.grid-item {
    width: 23vh;
    height: 23vh;
}

.player-card {
    position:absolute;
    width: 16vh;
    height: 21vh;
    margin: -6vh  -4vh;
    z-index: 902;
}

.player-card:hover {
    transform: scale(1.2);
}
