body {
    background-image: url('/img/bg.jpg');
    background-size:  200vh 100vh;
    background-position: 50% 0;
    background-attachment: fixed;
}

#lineup {
    background-image: url('/img/field.png');
    background-repeat: no-repeat;
    background-size:  90vh 90vh;
    background-position:  50%  5vh;
    flex: 2 0 0;
    font-weight: bolder;
    height: 90vh;
    width: 40%;
}

#player {
   color:white;
   background-image: url('/img/select_player_card.png');
   background-repeat: no-repeat;
   background-size:  10vh 10vh;
   background-position:  0  0;
   padding: 7vh;
}

#bench {
    color:pink;
    font-weight: bolder;
}

.icon {
    color:gray;
}

.icon:hover {
    color:white;
}
